
##  Building a question classifier using TF-IDF vectorization and artificial neural network

In [ ]:
!git clone https://github.com/mdt01/nlp_pract5.git

fatal: destination path 'nlp_pract5' already exists and is not an empty directory.

In [ ]:
train_data = open("/content/nlp_pract5/training_data.txt", "r+")

In [ ]:
test_data = open("/content/nlp_pract5/test_dataset.txt", "r+")

In [ ]:
import pandas as pd
train = pd.DataFrame(train_data.readlines(),columns = ['Questions'])

In [ ]:
train

                                              Questions
0     DESC:manner How did serfdom develop in and the...
1     ENTY:cremat What films featured the character ...
2     DESC:manner How can I find a list of celebriti...
3     ENTY:animal What fowl grabs the spotlight afte...
4            ABBR:exp What is the full form of .com ?\n
...                                                 ...
5447  ENTY:other What 's the shape of a camel 's spi...
5448  ENTY:currency What type of currency is used in...
5449         NUM:temp What is the temperature today ?\n
5450   NUM:temp What is the temperature for cooking ?\n
5451  ENTY:currency What currency is used in Austral...

[5452 rows x 1 columns]

In [ ]:
test = pd.DataFrame(test_data.readlines(),columns= ['Questions'])

In [ ]:
test

                                             Questions
0      NUM:dist How far is it from Denver to Aspen ?\n
1    LOC:city What county is Modesto , California i...
2                         HUM:desc Who was Galileo ?\n
3                         DESC:def What is an atom ?\n
4          NUM:date When did Hawaii become a state ?\n
..                                                 ...
495   HUM:ind Who was the 22nd President of the US ?\n
496  ENTY:currency What is the money they use in Za...
497              NUM:count How many feet in a mile ?\n
498  ENTY:substance What is the birthstone of Octob...
499                          DESC:def What is e-coli ?

[500 rows x 1 columns]

In [ ]:
train['Q type'] = train['Questions'].apply(lambda x: x.split(' ')[0],1)

In [ ]:
train.head()

                                           Questions       Q type
0  DESC:manner How did serfdom develop in and the...  DESC:manner
1  ENTY:cremat What films featured the character ...  ENTY:cremat
2  DESC:manner How can I find a list of celebriti...  DESC:manner
3  ENTY:animal What fowl grabs the spotlight afte...  ENTY:animal
4         ABBR:exp What is the full form of .com ?\n     ABBR:exp

In [ ]:
train['Final Questions'] = train['Questions'].apply(lambda x: x.split(' ')[0],1)

In [ ]:
train.head()

,Questions,Q type,Final Questions
0,DESC:manner How did serfdom develop in and the...,DESC:manner,DESC:manner
1,ENTY:cremat What films featured the character ...,ENTY:cremat,ENTY:cremat
2,DESC:manner How can I find a list of celebriti...,DESC:manner,DESC:manner
3,ENTY:animal What fowl grabs the spotlight afte...,ENTY:animal,ENTY:animal
4,ABBR:exp What is the full form of .com ?\n,ABBR:exp,ABBR:exp

In [ ]:
train.pop('Questions')

0       DESC:manner How did serfdom develop in and the...
1       ENTY:cremat What films featured the character ...
2       DESC:manner How can I find a list of celebriti...
3       ENTY:animal What fowl grabs the spotlight afte...
4              ABBR:exp What is the full form of .com ?\n
                              ...
5447    ENTY:other What 's the shape of a camel 's spi...
5448    ENTY:currency What type of currency is used in...
5449           NUM:temp What is the temperature today ?\n
5450     NUM:temp What is the temperature for cooking ?\n
5451    ENTY:currency What currency is used in Austral...
Name: Questions, Length: 5452, dtype: object

In [ ]:
train.pop('Q type')

0         DESC:manner
1         ENTY:cremat
2         DESC:manner
3         ENTY:animal
4            ABBR:exp
            ...
5447       ENTY:other
5448    ENTY:currency
5449         NUM:temp
5450         NUM:temp
5451    ENTY:currency
Name: Q type, Length: 5452, dtype: object

In [ ]:
train.head()

  Final Questions
0     DESC:manner
1     ENTY:cremat
2     DESC:manner
3     ENTY:animal
4        ABBR:exp

In [ ]:
test['Q type'] = test['Questions'].apply(lambda x: x.split(' ')[0],1)

In [ ]:
test['Output'] = test['Q type'].apply(lambda x: x.split(' ')[0],1)

In [ ]:
test.head()

                                           Questions    Q type    Output
0    NUM:dist How far is it from Denver to Aspen ?\n  NUM:dist  NUM:dist
1  LOC:city What county is Modesto , California i...  LOC:city  LOC:city
2                       HUM:desc Who was Galileo ?\n  HUM:desc  HUM:desc
3                       DESC:def What is an atom ?\n  DESC:def  DESC:def
4        NUM:date When did Hawaii become a state ?\n  NUM:date  NUM:date

In [ ]:
test.pop('Questions')

0        NUM:dist How far is it from Denver to Aspen ?\n
1      LOC:city What county is Modesto , California i...
2                           HUM:desc Who was Galileo ?\n
3                           DESC:def What is an atom ?\n
4            NUM:date When did Hawaii become a state ?\n
                             ...
495     HUM:ind Who was the 22nd President of the US ?\n
496    ENTY:currency What is the money they use in Za...
497                NUM:count How many feet in a mile ?\n
498    ENTY:substance What is the birthstone of Octob...
499                            DESC:def What is e-coli ?
Name: Questions, Length: 500, dtype: object

In [ ]:
test.head()

     Q type    Output
0  NUM:dist  NUM:dist
1  LOC:city  LOC:city
2  HUM:desc  HUM:desc
3  DESC:def  DESC:def
4  NUM:date  NUM:date

In [ ]:
test.pop('Q type')

In [ ]:
test.head()

In [ ]:
import numpy as np
classes = np.unique(np.array(test['Output']))

In [ ]:
classes

array(['ABBR:abb', 'ABBR:exp', 'DESC:def', 'DESC:desc', 'DESC:manner',
       'DESC:reason', 'ENTY:animal', 'ENTY:body', 'ENTY:color',
       'ENTY:currency', 'ENTY:dismed', 'ENTY:event', 'ENTY:food',
       'ENTY:instru', 'ENTY:lang', 'ENTY:other', 'ENTY:plant',
       'ENTY:product', 'ENTY:sport', 'ENTY:substance', 'ENTY:techmeth',
       'ENTY:termeq', 'ENTY:veh', 'HUM:desc', 'HUM:gr', 'HUM:ind',
       'HUM:title', 'LOC:city', 'LOC:country', 'LOC:mount', 'LOC:other',
       'LOC:state', 'NUM:count', 'NUM:date', 'NUM:dist', 'NUM:money',
       'NUM:other', 'NUM:perc', 'NUM:period', 'NUM:speed', 'NUM:temp',
       'NUM:weight'], dtype=object)

In [ ]:
from sklearn.preprocessing import Labelencoder

In [ ]:
le = labelencoder()
le.fit(pd.Series(train))